---
import { Icon } from "astro-icon";
---

<p
  class="mb-3 text-justify text-gray-50 dark:text-gray-50 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100 first-letter:mr-3 first-letter:float-left"
>
  Soy una persona apasionada de la tecnología y el código. Me gusta resolver
  problemas como cualquier ingeniero por lo que sería agradable que me siguieras
  para poder compartir, código, ideas y claro una rica taza de cafe.
</p>

<h1
  class="text-center text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-6xl dark:text-white"
>
  Redes sociales
</h1>

<div class="flex justify-between w-5/6 mt-1 text-teal-300">
  <a
    class="transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100"
    href="https://www.twitter.com/@Benji_Pres_zac"
    target="_blank"
  >
    <Icon class="w-8 md:w-12 xl:w-14" name="mdi:twitter" />
  </a>
  <a
    class="transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100"
    href="https://www.github.com/Benji-Mtz"
    target="_blank"
  >
    <Icon class="w-8 md:w-12 xl:w-14" name="mdi:github" />
  </a>
  <a
    class="transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100"
    href="https://www.linkedin.com/in/benji-martinez-flores-27215059/"
    target="_blank"
  >
    <Icon class="w-8 md:w-12 xl:w-14" name="mdi:linkedin" />
  </a>
  <a
    class="transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100"
    href="https://www.instagram.com/benjimtzfl/"
    target="_blank"
  >
    <Icon class="w-8 md:w-12 xl:w-14" name="mdi:instagram" />
  </a>
  <a
    class="transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100"
    href="https://www.youtube.com/@benjimtzfl"
    target="_blank"
  >
    <Icon class="w-8 md:w-12 xl:w-14" name="mdi:youtube" />
  </a>
</div>
